<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
    <style>
        .layout{
            width: 1000px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .table_layout{
            border: 1px;

        }
    </style>
<body>
<h1 th:align="center">자유 게시판</h1>
    <div class="layout">

        <table class="table_layout">
            <thead>
                <tr>
                    <th bgcolor="#b0c4de" width="100">글번호</th>
                    <th bgcolor="#b0c4de" width="300">제목</th>
                    <th bgcolor="#b0c4de" width="600">내용</th>
                    <th bgcolor="#b0c4de" width="200">작성자</th>
                    <th bgcolor="#b0c4de" width="100">조회수</th>
                </tr>
            </thead>
            <tbody th:align="center">
                <tr th:each="board : ${list}">
<!-- each : 반복문 boardcontoller 에서  -->
<!--model.addAttribute("list",boardService.boardList()); 이부분에서 list로 가져오겠다 하여 이곳에 써주는것-->
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a  th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목</a>
                    </td>
<!--localhost:8080/board/view?id=board.id 즉 board.id에 넣어준다.-->
                    <td th:text="${board.content}">내용입니다</td>
                    <td th:text="${board.writer}">작성자입니다</td>
                </tr>
                <tr>
                    <td><a th:href="@{/board/write}">글등록</a></td>
                </tr>
            </tbody>
        </table>
<!--        굳이 태그가 필요없을 때 타임리프 공식-->
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href = "@{/board/list(page = ${page -1}, searchKeyword = ${param.serchKeyword})}"
               th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: lightsteelblue"></strong>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
        </th:block>
    </div>
</body>
</html>